snippet cl "Console log"
console.log(${1});${0}
endsnippet

snippet imp "Import module"
import ${1:module} from '${2:package}';${0}
endsnippet

snippet exp "Export default"
export default ${1};${0}
endsnippet

snippet fn "Function"
function ${1:name}(${2:params}) {
  ${0}
}
endsnippet

snippet afn "Arrow function"
const ${1:name} = (${2:params}) => {
  ${0}
};
endsnippet

