snippet req "Require module"
local ${1:mod} = require("${1:mod}")${0}
endsnippet

snippet fn "Function"
function ${1:name}(${2:params})
  ${0}
end
endsnippet

snippet fori "For loop (indexed)"
for ${1:i} = 1, ${2:n} do
  ${0}
end
endsnippet

snippet forp "For pairs"
for ${1:k}, ${2:v} in pairs(${3:table}) do
  ${0}
end
endsnippet

